[
    {'_', [
        {"/css/[...]", cowboy_static, {priv_dir, markboy, "css"}},
%        {"/favicon.ico",cowboy_static, {priv_dir, markdown_middleware, ""}},
        {"/favicon.ico", cowboy_static, {file, "favicon.ico", []}},
        {"/js/[...]", cowboy_static, {priv_dir, markboy, "js"}},
        {"/", home_handler, []},
        {"/[...]", cowboy_static, {priv_dir, markboy, ""}}
    ]}
].